.discipline-extension-btn {
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center;
  float: none !important; /*make the buttons stack vertically*/
}

.discipline-extension-btn-fire {
  background-image: url(https://forge-serverless-images.s3.us-east-2.amazonaws.com/fire.png);
}

.discipline-extension-btn-pipe {
  background-image: url(https://forge-serverless-images.s3.us-east-2.amazonaws.com/pipe.png);
}

.discipline-extension-btn-elec {
  background-image: url(https://forge-serverless-images.s3.us-east-2.amazonaws.com/electric.png);
}

.discipline-extension-btn-mech {
  background-image: url(https://forge-serverless-images.s3.us-east-2.amazonaws.com/mech.png);
}

.discipline-extension-btn-arch {
  background-image: url(https://forge-serverless-images.s3.us-east-2.amazonaws.com/arch.png);
}

.discipline-extension-btn-info {
  background-image: url(https://forge-serverless-images.s3.us-east-2.amazonaws.com/info.png);
}

.discipline-extension-btn-pillars {
  background-image: url(https://forge-serverless-images.s3.us-east-2.amazonaws.com/pillars.png);
}

.discipline-extension-btn-convey {
  background-image: url(https://forge-serverless-images.s3.us-east-2.amazonaws.com/convey.png);
}