.discipline-extension-btn {
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  float: none !important; /*make the buttons stack vertically*/
}

.discipline-extension-btn-fire {
  background-image: url(https://forge-serverless-images.s3.us-east-2.amazonaws.com/fire.png);
}

.discipline-extension-btn-pipe {
  background-image: url(https://forge-serverless-images.s3.us-east-2.amazonaws.com/pipe.png);
}

.discipline-extension-btn-elec {
  background-image: url(https://forge-serverless-images.s3.us-east-2.amazonaws.com/electric.png);
}

.discipline-extension-btn-mech {
  background-image: url(https://forge-serverless-images.s3.us-east-2.amazonaws.com/mech.png);
}